---

import TailwindIcon from './icons/Tailwind.astro';
import AstroIcon from './icons/AstroIcon.astro';
import Java from './icons/Java.astro';
import Wordpress from './icons/Wordpress.astro';
import HTMLIcon from './icons/HTML.astro';
import CSSIcon from './icons/CSS.astro';
import JSIcon from './icons/JS.astro';
import BootstrapIcon from './icons/Bootstrap.astro';
import SQLIcon from './icons/SQLServer.astro';
import TypeScriptIcon from './icons/TypeScript.astro';
import MongoDBIcon from './icons/MongoDB.astro';
import SassIcon from './icons/Sass.astro';
import JQueryIcon from './icons/JQuery.astro';
import NodeJSIcon from './icons/NodeJS.astro';

---

<div class="w-full lg:w-[920px] py-10 px-9 mx-auto">
    <ul class="flex gap-x-4 mb-4 flex-wrap justify-center [&>li]:pb-4">
        <li class="">
            <span class= "flex gap-x-2 rounded-full text-xs py-2 px-2 text-center items-center bg-white text-black font-bold">
                <HTMLIcon class="size-6" />
                <p>HTML</p>
            </span>     
        </li>
        <li>
            <span class= "flex gap-x-2 rounded-full text-xs py-2 px-2 text-center items-center bg-white text-black font-bold">
                <CSSIcon class="size-6" />
                <p>CSS</p>
            </span>     
        </li>
        <li>
            <span class= "flex gap-x-2 rounded-full text-xs py-2 px-2 text-center items-center bg-white text-black font-bold">
                <Java class="size-6" />
                <p>Java</p>
            </span>     
        </li>
        <li>
            <span class= "flex gap-x-2 rounded-full text-xs py-2 px-2 text-center items-center bg-white text-black font-bold">
                <JSIcon class="size-6" />
                <p>Javascript</p>
            </span>     
        </li>
        <li>
            <span class= "flex gap-x-2 rounded-full text-xs py-2 px-2 text-center items-center bg-white text-black font-bold">
                <BootstrapIcon class="size-6" />
                <p>Bootstrap</p>
            </span>     
        </li>
        <li>
            <span class= "flex gap-x-2 rounded-full text-xs py-2 px-2 text-center items-center bg-black">
                <SQLIcon class="size-6" />
                <p>SQL Server</p>
            </span>     
        </li>
        <li>
            <span class= "flex gap-x-2 rounded-full text-xs py-2 px-2 text-center items-center bg-white text-black font-bold">
                <TailwindIcon class="size-6" />
                <p>Tailwind Css</p>
            </span>     
        </li>
        <li>
            <span class= "flex gap-x-2 rounded-full text-xs py-2 px-2 text-center items-center bg-black">
                <AstroIcon class="size-6" />
                <p>Astro</p>
            </span>     
        </li>
        <li>
            <span class= "flex gap-x-2 rounded-full text-xs py-2 px-2 text-center items-center bg-white text-black font-bold">
                <Wordpress class="size-6" />
                <p>WordPress</p>
            </span>     
        </li>
        <li>
            <span class= "flex gap-x-2 rounded-full text-xs py-2 px-2 text-center items-center bg-white text-black font-bold">
                <TypeScriptIcon class="size-6" />
                <p>TypeScript</p>
            </span>     
        </li>
        <li>
            <span class= "flex gap-x-2 rounded-full text-xs py-2 px-2 text-center items-center bg-white text-black font-bold">
                <MongoDBIcon class="size-6" />
                <p>MongoDB</p>
            </span>     
        </li>
        <li>
            <span class= "flex gap-x-2 rounded-full text-xs py-2 px-2 text-center items-center bg-white text-black font-bold">
                <SassIcon class="size-6" />
                <p>Sass</p>
            </span>     
        </li>
        <li>
            <span class= "flex gap-x-2 rounded-full text-xs py-2  text-center items-center bg-black text-black font-bold">
                <JQueryIcon class="h-6 w-16" />
            </span>     
        </li>
        <li>
            <span class= "flex gap-x-2 rounded-full text-xs py-2  text-center items-center bg-black text-white font-bold">
                <NodeJSIcon class="size-6" />
                <p>NodeJS</p>
            </span>     
        </li>
    </ul>
</div>